.container-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: auto;
}

.container-layout__container-page {
    width: -webkit-fill-available;
    margin: 1em;
}

.container-page__header {
    text-align: center;
}

.container-page__page {
    display: flex;
    height: auto;
    width: -webkit-fill-available;
    padding: 0.5em;
}

.container-page__footer {
    margin: 0;
}